name: testing
on: 
 workflow_dispatch:

jobs:
  dotnet-install-error:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: Setup .NET 6
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'

      - name: Build API
        run: dotnet build MyApp/MyApp.csproj
        

