name: testing
on: 
 workflow_dispatch:

jobs:
  dotnet-install-error:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v5
     


      - name: Setup .NET 
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.0.x'
          architecture: 'arm64'

      - name: Build API
        run: dotnet build MyApp/MyApp.csproj

   
